<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/conf.css" />
    <title>Настройки</title>
  </head>
  <body>
    <h1>Настройки</h1>
    <form id="config" class="form-conf">
      <label class="counter__label">
        Укажите начальное время:
        <input
          class="counter__input counter__hour"
          placeholder="час"
          name="initialHours"
          id="initialHours"
          type="number"
          value="0"
          min="0"
          required
        />:
        <input
          class="counter__input counter__min"
          placeholder="мин"
          name="initialMinutes"
          id="initialMinutes"
          type="number"
          value="0"
          max="59"
          min="0"
          required
        />:
        <input
          class="counter__input counter__sec"
          placeholder="сек"
          name="initialSeconds"
          id="initialSeconds"
          type="number"
          value="0"
          max="59"
          min="0"
          required
        />
      </label>
      <label for="secondsAddedPerCurrency" class="price-per-hour__label">
        Цена за час:
        <input
          type="number"
          class="price-per-hour__input"
          name="secondsAddedPerCurrency"
          id="secondsAddedPerCurrency"
          placeholder="1000"
          value="1000"
          required
        />
      </label>
      <label for="donationAlertsToken" class="token__label">
        Токен Donation Alerts:
        <input
          type="password"
          class="token__input"
          name="donationAlertsToken"
          id="donationAlertsToken"
          placeholder="token"
        />
        <button class="token-btn" type="button">Показать</button>
      </label>
      <label for="isGreenBackground" class="green-backgroud__label">
        Включить зеленый фон
        <input
          type="checkbox"
          class="green-backgroud__input"
          name="isGreenBackground"
          id="isGreenBackground"
          checked
        />
      </label>
      <label for="timeIncrease" class="timeEdit__label timeIncrease__label">
        Добавить по нажатию:
        <input
          type="number"
          class="timeEdit timeIncrease__input"
          name="timeIncrease"
          id="timeIncrease"
          placeholder="10"
          value="10"
          required
        />
        мин
      </label>
      <label for="timeDecrease" class="timeEdit__label timeDecrease__label">
        Уменьшить по нажатию:
        <input
          type="number"
          class="timeEdit timeDecrease__input"
          name="timeDecrease"
          id="timeDecrease"
          placeholder="10"
          value="10"
          required
        />
        мин
      </label>
      <label for="substrateColor" class="edit-color-title substrate__label">
        Подложка таймера
        <input
          type="color"
          class="color-picker substrate-color__input"
          name="substrateColor"
          id="substrateColor"
        />
        <input
          type="checkbox"
          class="substrate__input"
          name="isSubstrate"
          id="isSubstrate"
          checked
        />
      </label>
      <label for="shadowColor" class="edit-color-title shadow__label">
        Тень
        <input
          type="color"
          class="color-picker shadow-color__input"
          name="shadowColor"
          id="shadowColor"
        />
        <input
          type="checkbox"
          class="shadow__input"
          name="isShadow"
          id="isShadow"
          checked
        />
      </label>
      <label for="substrateWidth" class="substrate-width__label">
        Ширина подложки
        <input
          type="number"
          class="w-40 substrate-width__input"
          name="substrateWidth"
          id="substrateWidth"
          value="500"
          required
        />
        px
      </label>
      <label for="substrateHeight" class="substrate-height__label">
        Высота подложки
        <input
          type="number"
          class="w-40 substrate-height__input"
          name="substrateHeight"
          id="substrateHeight"
          value="180"
          required
        />
        px
      </label>
      <label for="substrateRadius" class="substrate-radius__label">
        Скругление подложки
        <input
          type="number"
          class="w-40 substrate-radius__input"
          name="substrateRadius"
          id="substrateRadius"
          value="0"
          required
        />
        px
      </label>
      <label for="fontFamily" class="font-family__label">Ваш город</label>
      <select name="fontFamily" id="fontFamily"></select>
      <label for="colorFont" class="edit-color-title color-font__label">
        Цвет цифр
        <input
          type="color"
          class="color-picker color-font__input"
          name="colorFont"
          id="colorFont"
        />
      </label>
      <label for="fontSize" class="timeEdit__label font-size__label">
        Размер цифр
        <input
          type="number"
          class="timeEdit font-size__input"
          name="fontSize"
          id="fontSize"
          value="5"
        />
        px
      </label>
      <label for="letterSpacing" class="timeEdit__label leter-spacing__label">
        Растояние между цифр
        <input
          type="number"
          class="timeEdit leter-spacing__input"
          name="letterSpacing"
          id="letterSpacing"
          value="0"
        />
        px
      </label>
      <label for="isFontBold" class="font-bold__label">
        Жирный
        <input
          type="checkbox"
          class="font-bold__input"
          name="isFontBold"
          id="isFontBold"
          checked
        />
      </label>
      <label for="isFontItalic" class="font-italic__label">
        Курсив
        <input
          type="checkbox"
          class="font-italic__input"
          name="isFontItalic"
          id="isFontItalic"
          checked
        />
      </label>
      <label
        for="colorFontAddSec"
        class="edit-color-title color-font-addSec__label"
      >
        Цвет добавления времени
        <input
          type="color"
          class="color-picker color-font-addSec__input"
          name="colorFontAddSec"
          id="colorFontAddSec"
        />
      </label>
      <label for="colorShadowAddSec" class="color-shadow-addSec__label">
        Тень добавления времени
        <input
          type="color"
          class="color-picker color-shadow-addSec__input"
          name="colorShadowAddSec"
          id="colorShadowAddSec"
        />
        <input
          type="checkbox"
          class="is-shadow-addSec__input"
          name="isShadowAddSec"
          id="isShadowAddSec"
          checked
        />
      </label>
      <button class="save-conf" type="submit">Сохранить</button>
    </form>
    <script src="../js/conf.js"></script>
  </body>
</html>
